*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: tipografiaUno;
    src: url(../multimedia/tipografia/YsabeauInfant-Italic-VariableFont_wght.ttf);

    font-family: tipografiaDos;
    src: url(../multimedia/tipografia/YsabeauInfant-VariableFont_wght.ttf);
}

/** paleta de colores a utilizar #FC7300 , #1F8A70 , #00425A ,
#181823, #EFF5F5 **/


body{
    background-color: #1F8A70;
}


.header{
    height: 600px;
    background-image: url(../multimedia/image/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.tituloPrincipal{
    font-family: tipografiaDos;
    font-size: 60px;
    color: #EFF5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 545px;    
}


.listaNavegador{
    font-family: tipografiaDos;
    color: #EFF5F5;
    height: 35px;
    font-size: 20px;
    background-color: #00425A;
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: space-around;
}

.colorListaNavegador{
    color: #EFF5F5;
    text-decoration: dashed;
}


.tituloSeccion1{
    color: #00425A;
    font-family: tipografiaDos;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSeccion1{
    
    border-radius: 1rem;
}

.div-primera-seccion{
    height: 550px;
}

.div-img1-p1{
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.parrafoSeccion1{
    color: #EFF5F5;
    font-family: tipografiaUno;
    width: 250px;
    font-size: 25px;
}


.div-segunda-seccion{
    height: 590px;
}

.tituloSeccion2{
    color: #00425A;
    font-family: tipografiaDos;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.imgSeccion2{
    border-radius: 1rem;
}

.div-img2-p2{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


.parrafoSeccion2{
    color: #EFF5F5;
    font-family: tipografiaUno;
    width: 250px;
    font-size: 25px;
}

.tituloSeccion3{
    color: #00425A;
    font-family: tipografiaDos;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.div-contenedor-hexagonos{
    height: 300px;
}

.div-hexagonos{
    height: 200px;
    display: flex;
    justify-content: space-around;
    list-style: none;  
}

.img-hexagono1{
    width: 200px;
    height: 200px;
    background-image: url(../multimedia/image/imgRecursoshumanos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img-hexagono2{
    width: 200px;
    height: 200px;
    background-image: url(../multimedia/image/imgQuimica.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img-hexagono3{
    width: 200px;
    height: 200px;
    background-image: url(../multimedia/image/imgMantenimiento.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img-hexagono4{
    width: 200px;
    height: 200px;
    background-image: url(../multimedia/image/imgDesarrolloweb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.listaTextosHexagonos{
    color: #EFF5F5;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}


.div-cuarta-seccion{
    display: flex;
    flex-direction: column;
    gap: 70px;
    height: 800px;
}

.div-titulo4{
    display: flex;
    justify-content: center;
}

.div-contenedor4{
    display: flex;
    justify-content: center;
    gap: 80px;
    height: 500px;
}

.div-lista1{
    display: flex;
    gap: 20px;
}

.div-lista2{
    display: flex;
    gap: 20px;
}


.tituloSeccion4{
    color: #00425A;
    font-family: tipografiaDos;
    font-size: 50px;
    width: 400px;

}

.tituloSecundario4-1{
    color: #00425A;
    font-family: tipografiaDos;
    font-size: 35px;
    width: 250px;
}

.parrafoSeccion4-1{
    color: #EFF5F5;
    font-size: 25px;
    font-family: tipografiaUno;
    width: 350px;
}

.tituloSecundario4-2{
    color: #00425A;
    font-family: tipografiaDos;
    font-size: 35px;
    width: 300px;
}

.parraforSeccion4-2{
    color: #EFF5F5;
    font-size: 25px;
    font-family: tipografiaUno;
    width: 300px;
}

.footer{
    font-family: tipografiaDos;
    display: flex;
    justify-content: space-between;
    background-color: #00425A;
}

.tituloFooter1{
    color: #EFF5F5;
}



/* Adaptacion a dispositivos mobiles */

@media (max-width: 425px)   {
    .navegador{
        background-color: #00425A;
    }
    .listaNavegador{
        font-size: 13px;
        height: 40px;
        margin: 3px;
    }

    .header{
        height: 400px;
    }

    .tituloPrincipal{
        height: 300px;
    }

    .imgSeccion1{
        height: 220px;
        width: 320px;
    }
    .parrafoSeccion1{
        font-size: 20px;
    }

    .imgSeccion2{
        height: 220px;
        width: 320px;
    }
    .parrafoSeccion2{
        font-size: 20px;
    }


    .tituloSeccion3{
        font-size: 40px;
    }
    .div-contenedor-hexagonos{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1015px;
    }
    .div-hexagonos{
        height: 915px;
        width: 180px;
        display: flex;
        flex-direction: column;
    }
    .img-hexagono1{
        height: 150px;
        width: 150px;
    }
    .img-hexagono2{
        height: 150px;
        width: 150px;
    }
    .img-hexagono3{
        height: 150px;
        width: 150px;
    }
    .img-hexagono4{
        height: 150px;
        width: 150px;
    }

    .div-lista-hexagonos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .listaTextosHexagonos{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        gap: 200px;
    }


    .div-contenedor4{
        height: 700px;
        display: flex;
        flex-direction: column;
    }
    .div-lista1{
        display: flex;
        flex-direction: column;
    }
    .div-lista2{
        display: flex;
        flex-direction: column;
    }



    .divRedes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divUbicacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .divContactos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tituloFooter1{
        font-size: 13px;
    }
    .ubicacionFooter{
        width: 120px;
        height: 120px;
    }
}


/* Adaptación a dispositivos tablets */

@media (min-width: 768px) and (max-width: 1024px)   {
    .navegador{
        background-color: #00425A;
    }
    .listaNavegador{
        font-size: 19px;
        height: 55px;
        margin: 8px;
    }

    .header{
        height: 400px;
    }

    .tituloPrincipal{
        height: 300px;
    }

    .imgSeccion1{
        height: 320px;
        width: 320px;
    }
    .imgSeccion2{
        height: 320px;
        width: 320px;
    }
    .img-hexagono1{
        height: 150px;
        width: 150px;
    }
    .img-hexagono2{
        height: 150px;
        width: 150px;
    }
    .img-hexagono3{
        height: 150px;
        width: 150px;
    }
    .img-hexagono4{
        height: 150px;
        width: 150px;
    }

    .listaTextosHexagonos{
        font-size: 18px;
    }
}