*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: tipografiaUno;
    src: url(../multimedia/tipografia/YsabeauInfant-Italic-VariableFont_wght.ttf);

    font-family: tipografiaDos;
    src: url(../multimedia/tipografia/YsabeauInfant-VariableFont_wght.ttf);
}

/** tipografias descargadas de google fonts**/
/** paleta de colores a utilizar #FC7300 , #1F8A70 , #00425A ,
#181823, #EFF5F5 **/


body{
    background-color: #1F8A70;
}


.header{
    height: 500px;
    background-image: url(../multimedia/image/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.tituloPrincipal{
    height: 400px;
    font-family: tipografiaDos;
    font-size: 60px;
    color: #EFF5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}


.listaNavegador{
    font-family: tipografiaDos;
    color: #EFF5F5;
    height: 35px;
    font-size: 20px;
    background-color: #00425A;
    display: flex;
    gap: 20px;
    list-style: none;
}

.colorListaNavegador{
    color: #EFF5F5;
    text-decoration: dashed;
    font-family: tipografiaUno;
}

main{
    display: flex;
    justify-content: center;
}

.formSection{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap: 19px;
    width: 400px;
    height: 700px;
    padding: 50px;
    text-align: center;
    align-items: center;
    background-color: #145746;
    box-shadow: 0 0 20px rgb(0, 0, 0.2);
    border-radius: 15px;
}

.tituloFormulario{
    color: #EFF5F5;
    font-size: 33px;
    font-family: tipografiaDos;
    text-shadow: 0 0 30px rgb(19, 18, 18);
}

.input-css{
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid rgb(35, 124, 90);
    box-shadow: 0 0 10px rgb(26, 25, 25);
    outline: none;
    background-color: transparent;
}

::placeholder{
    color: rgb(255, 253, 253);
}

.inputFecha{
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid rgb(35, 124, 90);
    box-shadow: 0 0 10px rgb(26, 25, 25);
    background-color: transparent;
    color: rgb(255, 253, 253);
}

#subirArchivo{
    color: #EFF5F5;
    width: 350px;
}

#enviarFormulario{
    color: #12795f;
    background-color: #EFF5F5;
    font-size: 20px;
}

.footer{
    font-family: tipografiaDos;
    display: flex;
    justify-content: space-between;
    background-color: #00425A;
}

.tituloFooter1{
    color: #EFF5F5;
}






/* Adaptación a dispositivos mobiles */

@media (max-width: 425px)   {

    .divRedes{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .divUbicacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .divContactos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tituloFooter1{
        font-size: 13px;
    }
    .ubicacionFooter{
        width: 120px;
        height: 120px;
    }

}





/* Adaptación a dispositivos tablets */

@media (min-width: 768px) and (max-width: 1024px)   {


}